@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:ital,wght@0,400;0,900;1,500&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    background-color: #eaebdb;
}

input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding:1%;
    box-shadow: 5px 5px 2px 1px rgb(7, 95, 95);
    margin-bottom: 10px;
}

button {
    width: 100%;
    background-color: #FFE652;
    border: none;
    padding: 0.5em;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px #c75c15;
}

.container {
    width: 80%;
    max-width: 1128px;
    margin: 9% auto;
    /* border: 1px solid black; */
}
.row {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


